.checkout-header {
    padding-bottom: 15px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 50px; 
    border-bottom: 2px solid rgba(255, 0, 0, 0.63);
}

.checkout-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family:fantasy;
    color:rgba(255, 0, 0, 0.7);
    text-shadow: 0 2px black;
    text-align: center;
    text-decoration: underline;
}

.checkout-page {
    margin: 30px auto;
    width: 55%;
    background-color: rgba(173, 1, 1, 0.133);
    border: 2px solid red;
    border-radius: 5px;
}

.py-3 {
    padding: 0 1rem;
}

.py-4 {
    padding: 0 1.5rem;
}

.form-control {
    padding-left: 20px;
}

.form-label {
    color: red;
}

h6 {
    color: red;
    font-size: 12px;
}

button {
    font-weight: bold;
    margin-top: 12px;
    margin-left: 60px;
    padding:5px;
    cursor: pointer;
    background-color: red;
    border: 3px solid rgb(11, 0, 0);
    border-radius: 5px;
  }
  
  button:hover {
    background-color:green;
  }


